:root { --backgrndColor: rgb(201, 222, 244); }

body { font-family: "Quicksand", sans-serif; }

.section-border-line {
    width: 97vw;
    height: 1vw;
    border-top: 1px solid gray;
    margin: 0px auto;
}

.section-header > * {
    margin: 0px;
    text-align: end;
    margin-right: 20px;
    margin-bottom: 50px;
}

#table-container {
    background-color: var(--backgrndColor);
    border-radius: 10px;    
    /* position: relative; */
}

table {
    border-collapse: collapse;
    width: 80vw;
    margin: 20px auto;
}

th { background-color: rgb(229, 229, 229); margin-top: 20px; }

/* tr, th, td { padding: 10px; } */
th, td { height: 40px; } 

tr {
    text-align: center;
    background-color: white;
    border-bottom: 10px solid var(--backgrndColor);
    border-top: 10px solid var(--backgrndColor); 
    border-left: 3px solid dodgerblue;
}

thead > tr { border-left: 0px; }

th {
    position: relative;
}

th > img {
    position: absolute;
    left: 2%;
    bottom: 10%;
}

/* #table-container > img {
    position: absolute;
} */

#tfoot td { position: relative; font-weight: bold;}

#tfoot td:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#plus, #minus {
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    background-color: var(--backgrndColor);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#plus:hover, #minus:hover {
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
}
