#slider-wrapper {
    /* max-width: 100%; */
    --vWidth: 90vw;
    width: var(--vWidth);
    /* height: 700px;  */
    height: calc(var(--vWidth) / 2.2); 
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* border: 1px dashed black; */
    --slider-animation-time: 1000ms;
}

#slider-background {
    height: 100%;
    /* background-color: rgb(239, 239, 239, 0.7); */
    /* border: 1px solid rgb(239, 239, 239, 1); */
    padding: 0;
    position: relative;
    /* overflow: hidden; */
    flex-grow: 15;
    /* box-sizing: border-box; */
    transform: translateY(0%);
    opacity: 1;
    transition: all var(--slider-animation-time);
}

.nav-but {
    height: 100%;
    /* height: 50px;
    width: 50px; */
    /* background-color: lightgrey; */
    padding: 0px;
    /* position: relative; */
    flex-grow: 1.3;
    z-index: 3;
    cursor: pointer;
    display: grid;
    transform: translateX(0%);
    transition: transform var(--slider-animation-time);
    transition-delay: 1000ms;
}

.nav-but > p {
    margin: auto;
    font-size: 40px;
    text-align: center;
}

.nav-but:hover {
    background-color: rgba(231, 231, 231, 0.4);
}

.slide-container {
    /* width: 1280px;
    height: 769px; */
    /* height: 90%; */
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    /* width: 30%;
    height: 40%; */
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;

    /* text-align: center; */
    /* font-size: 60px; */
    box-shadow: 5px 10px 25px grey;
    overflow: hidden;
}

.slide-null {
    left: -1%;
    z-index: 0;
    transform: scale(0.0);
    opacity: 0.0;
    transition: all 1s;
}

.slide-0 {
    /* left: -1%; */
    z-index: 1;
    transform: translate(-85%,-50%) scale(0.6);
    /* transform: scale(0.6); */
    opacity: 0.3;
    transition: all 1s;
}

.slide-1 {
    /* left: 12%; */
    z-index: 2;
    transform: translate(-69%,-50%) scale(0.8);
    /* transform: scale(0.8); */
    opacity: 0.6;
    transition: all 1s;
}

.slide-2 {
    /* left: 29%; */
    z-index: 3;
    transform: translate(-50%,-50%) scale(1);
    /* transform: scale(1); */
    opacity: 1;
    transition: all 1s;
}

.slide-3 {
    /* left: 46%; */
    z-index: 2;
    transform: translate(-31%,-50%) scale(0.8);
    /* transform: scale(1.6); */
    opacity: 0.5;
    transition: all 1s;
}

.slide-4 {
    /* left: 58%; */
    z-index: 1;
    transform: translate(-15%,-50%) scale(0.6);
    /* transform: scale(1.3); */
    opacity: 0.3;
    transition: all 1s;
}

#slider-dots-container {
    width: 60vw;
    /* background-color: bisque; */
    /* border: 1px solid black; */
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    /* transform: translateY(0%);
    transition: all var(--slider-animation-time); */
}

.dot {
    width: 15px;
    height: 15px;
    /* border: 1px solid grey; */
    background-color: lightgrey;
    border-radius: 50%;
}

.dot-active {
    background-color: dodgerblue;
    outline: 1px solid dodgerblue;
    outline-offset: 2px;
    /* border: 1px solid blue; */
    /* transform: scale(1.25); */
}

.lorem {
    /* margin-top: 40px; */
    padding-top: 70px;
    /* font-size: 50px; */
}

#slider-wrapper.hidden #slider-background {
    opacity: 0;
    transform: translateY(100%);
}

#slider-wrapper.hidden #prev {
    transform: translateX(-100%);
}

#slider-wrapper.hidden #next {
    transform: translateX(100%);
}