:root {
    --border-line-solid: 4px solid rgba(255, 255, 255, 0.7);
    --border-line-dashed: 1px dashed rgba(255, 255, 255, 0.7);
}

body {
    font-family: "Quicksand", sans-serif;
}

.section-border-line {
    width: 97vw;
    height: 1vw;
    border-top: 1px solid gray;
    margin: 0px auto;
}

.section-header > * {
    margin: 0px;
}

.section-header > p {
    padding-left: 1%;
}

#weather-grid-container {
    /* border: 1px dashed gray; */
    width: 95vw;
    height: 60vh;
    min-height: 500px;
    margin: 5vh auto;
    background-image: radial-gradient(rgba(30, 143, 255, 0.8) 40%, rgba(0, 0, 255, 0.8));
    /* color: white; */
    border-radius: 2%;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr 1fr; 
    gap: 0px;
    grid-template-areas:
    'CurDateTitle CurDateTitle CurDateTitle TomDateTitle'
    'CurDate CurDate CurDate TomDate'
    'CurTemp DailyTempTitle AuxParamTitle TomParamTitle'
    'CurIcon DailyTemp AuxParam TomParam'
    'CurDescr DailyTemp AuxParam TomParam'
    'City DailyTemp AuxParam TomParam';
}

/* #weather-grid-container > * {
    text-align: center;
} */

/* Grid Areas --- */
#wCurDateTitle {grid-area: CurDateTitle;}
#wTomDateTitle {grid-area: TomDateTitle;}
#wCurDate { grid-area: CurDate; }
#wTomDate { grid-area: TomDate; }
#wCurTemp { grid-area: CurTemp; }
#wCurIcon { grid-area: CurIcon; }
#wCurDescr { grid-area: CurDescr; }
#wDailyTempTitle { grid-area: DailyTempTitle; }
#wDailyTemp { grid-area: DailyTemp; }
#wAuxParam { grid-area: AuxParamTitle; }
#wAuxParam { grid-area: AuxParam; }
#wTomParamTitle { grid-area: TomParamTitle; }
#wTomParam { grid-area: TomParam; }
#wCity { grid-area: City;}
/* --- Grid Areas */

/* Fonts, Text Align --- */
#wCurDateTitle,
#wTomDateTitle,
#wCurDate,
#wTomDate,
#wCurTemp,
#wCurIcon,
#wCurDescr,
#wDailyTempTitle,
#wAuxParamTitle,
#wTomParamTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
}

#wCurDateTitle {font-size: 1.5rem; font-weight: bold;}
/* #wTomDateTitle {font-size: 1rem;} */

#wCurTemp { font-size: 4rem; font-weight: bold;}

#wCity > p {
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}

/* #wTomParamTitle,
#wTomParam {font-size: 0.8rem;} */
/* .cTomParam {font-size: 0.1rem;} */
/* --- Fonts, Text Align */

/* Border lines --- */
/* #weather-grid-container * {
    border: 1px solid black;
} */
#wCurDate,
#wTomDate { border-bottom: var(--border-line-solid);  }

#wTomDateTitle,
#wTomDate,
#wTomParam,
#wTomParamTitle {border-left: var(--border-line-solid); }

#wCurTemp,
#wCurIcon,
#wCurDescr,
#wDailyTempTitle,
#wDailyTemp,
#wCity { border-right: var(--border-line-dashed); }
#wCity { border-top: var(--border-line-dashed); }
/* --- Border lines */

#wCity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: white;
}

#wChangeButton {
    position: absolute;
    right: 3%;
    height: 85%;
    width: 25%;
    min-width: 100px;
    padding: 0%;
    /* padding-left: 1%;
    padding-right: 1%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
    /* border: 1px solid white; */
}

#wChangeButton img {
    height: 40%;
}

#wChangeButton:hover {
    background-color: rgba(0, 0, 255, 0.15);
    cursor: pointer;
}

#wDailyTemp, #wAuxParam, #wTomParam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#wDailyTemp p, #wAuxParam p, #wTomParam p {
    padding: 3%; 
    padding-left: 5%; 
}

/* #wCurIcon {
    overflow: hidden;
}

#wCurIconImg {
    transform: scale(1.5);
} */

@media screen and (max-width: 900px) {
#weather-grid-container {
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 2fr 1fr 2fr 1fr 1fr 1fr 2fr; 
        grid-template-areas:
        'CurDateTitle CurDateTitle CurDateTitle'
        'CurDate CurDate CurDate '
        'CurTemp DailyTempTitle AuxParamTitle'
        'CurIcon DailyTemp AuxParam'
        'CurDescr DailyTemp AuxParam'
        'City DailyTemp AuxParam '
        'TomDateTitle TomDateTitle TomDateTitle'
        'TomDate TomDate TomDate'
        'TomParamTitle TomParamTitle TomParamTitle'
        'TomParam TomParam TomParam';
        border: var(--border-line-dashed); 
        height: 150vh;
        min-height: 500px;
        min-width: 300px;
    }    

    #wTomDateTitle { border-top: var(--border-line-solid);  }
    #wTomDate { border-bottom: var(--border-line-dashed);  }

    #wTomParam {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    #wTomParam p {
        /* display: inline-block; */
        /* width: 30%; */
        padding: 1%; 
        padding-left: 1%; 
    }

    #wTomDateTitle,
    #wTomDate,
    #wTomParam,
    #wTomParamTitle {border-left: 0; }

    #wCity {
        display: flex;
        flex-direction: column;
    }

    #wChangeButton {
        position: static;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
    }

    #wCurTemp { font-size: 2rem; }
}